.red {
  color: tomato;
}

dl {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}

dt {
  font-weight: bold;
  margin-left: 0;
}

dd {
  margin-left: 0;
}

.delete-link{
  float:right;
  cursor:pointer;
  background: rgba(255,0,0,0.5);
  padding: 7px;
  border-radius: 3px;
  color: white;
}
.delete-link:hover{
  background: red;
}
.update-link{
  float:right;
  cursor:pointer;
  background: rgba(0,255,0,0.5);
  padding: 7px;
  border-radius: 3px;
  color: white;
}
.update-link:hover{
  background: green
}
