<h2>Create New Codecamp</h2>
<form>
  <ul>
    <li>
      <label for="cc_title">Codecamp Title</label>
      <input type="text" name="cc_title" required>
    </li>
    <li>
      <label for="cc_date">Date of Event</label>
      <input type="date" name="cc_date" required>
    </li>
    <li>
      <label for="cc_venue">Venue</label>
      <input type="text" name="cc_venue" required>
    </li>
    <li>
      <label for="cc_num_places">Number of Places</label>
      <input type="number" name="cc_num_places" required>
    </li>
    <li>
      <button>Create Event</button>
    </li>
  </ul>
</form>
